* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: "Quicksand", sans-serif;
}

#cabeceralogo {
  width: 96%;
  height: 150px;
  padding: 0% 2%;
  background-color: #0F76A0;
}

#cabeceralogo>div {
  width: 960px;
  margin: 0px auto;
  padding-top: 45px;
}

#cabeceralogo h1 {
  color: #FFFFFF;
}

#menuprincipal {
  width: 96%;
  height: 50px;
  padding: 0% 2%;
  background-color: #9FC8D9;
  border-top: 1px solid #094660;
  border-bottom: 1px solid #094660;
}

#menuprincipal>div {
  width: 960px;
  margin: 0px auto;
}

#menuprincipal li {
  display: inline-block;
  height: 35px;
  padding: 15px 10px 0px 10px;
  margin-right: 5px;
  position: relative;
  /* Para el submenú */
}

#menuprincipal li:hover {
  background-color: #6FACC6;
}

#menuprincipal a {
  color: #333333;
  text-decoration: none;
}

/* Estilos para el submenú */
.submenu {
  display: none;
  /* Ocultar el submenú por defecto */
  position: absolute;
  /* Posición absoluta para el submenú */
  background-color: #9FC8D9;
  /* Color de fondo del submenú */
  border-radius: 5px;
  /* Bordes redondeados */
  margin-top: 5px;
  /* Espacio entre el menú principal y el submenú */
  z-index: 1000;
  /* Asegúrate de que el submenú esté por encima de otros elementos */
}

#menuprincipal li:hover .submenu {
  display: block;
  /* Mostrar el submenú al pasar el mouse */
}

.submenu li {
  width: 100%;
  /* Ancho completo para los elementos del submenú */
}

.submenu a {
  padding: 10px;
  /* Espaciado para los enlaces del submenú */
  display: block;
  /* Hacer que el enlace ocupe todo el ancho */
  color: #333333;
  /* Color del texto */
  text-decoration: none;
  /* Sin subrayado */
}

.submenu a:hover {
  background-color: #6FACC6;
  /* Color de fondo al pasar el mouse sobre los enlaces del submenú */
}

main {
  position: relative;
  width: 96%;
  padding: 2%;
  background: rgba(0, 0, 0, 0.3) url("imgs/fondo.jpg");
  background-blend-mode: darken;
  /*background: rgba(0, 0, 0, 0.7); /*transparente oscuro*/
  /*z-index: 2;/* Asegura que el contenido esté encima de la capa transparente */
  background-size: cover;/* Asegura que la imagen cubra toda la página */
}

main>div {
  width: 960px;
  margin: 0px auto;
}

#articulosprincipales {
  float: left;
  width: 620px;
  padding-top: 30px;
  background-color: #FFFFFF;
  border-radius: 10px;
}

#infoadicional {
  float: right;
  width: 280px;
  padding: 20px;
  background-color: #E7F1F5;
  border-radius: 10px;
}

#infoadicional h1 {
  color: #333333;
  margin-bottom: 15px;
}

.recuperar {
  clear: both;
}

article {
  position: relative;
  padding: 0px 40px 20px 40px;
}

article time {
  display: block;
  position: absolute;
  top: -5px;
  left: -70px;
  width: 80px;
  padding: 15px 5px;
  background-color: #094660;
  box-shadow: 3px 3px 5px rgba(100, 100, 100, 0.7);
  border-radius: 5px;
}

.numerodia {
  color: #FFFFFF;
  text-align: center;
}

.nombredia {
  color: #FFFFFF;
  text-align: center;
}

article h1 {
  margin-bottom: 5px;
}

article p {
  font: 18px "Quicksand", sans-serif;
}

figure {
  margin: 10px 0px;
}

figure img {
  padding: 5px;
  border: 1px solid;
}

#pielogo {
  width: 96%;
  padding: 2%;
  background-color: #0F76A0;
}

#pielogo>div {
  width: 960px;
  margin: 0px auto;
  background-color: #9FC8D9;
  border-radius: 10px;
}

.seccionpie {
  float: left;
  width: 270px;
  padding: 25px;
}

.seccionpie h1 {
  font: bold 20px "Quicksand", sans-serif;
}

.seccionpie p {
  margin-top: 5px;
}

.seccionpie a {
  color: #666666;
  text-decoration: none;
}